  /*
font-family: 'Oswald', sans-serif; 300, 400 --> header font
font-family: 'Open Sans', sans-serif; 300, 400, 600 --> body font
font-family: 'Ubuntu', sans-serif; 400, 500, -->
*/

/*Global-Header
---------------*/
* {
    box-sizing: border-box;
}

.container {
  font-size: 62.5%;
}

header {
	background-image: url('assets/header.jpg');
  	height: 523px;
  	width: 90.5%;
  	margin-left: auto;
  	margin-right: auto;
}

nav {
	display: inline-block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/*Specific-header
-----------------*/
.nav-left {
	float: left;
}

.logo {
	margin-top: 7px;
  margin-left: 50.7%;
  width: 280px;
}

.logo img {
	vertical-align: middle;

}

.logo h3 {
	font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  color: #083451;
  letter-spacing: -0.6px;
  padding-left: 4%;
  display: inline-block;
  vertical-align: middle;
}

.nav-right {
	float: right;
  /*background-color: orange;*/
  margin-right: 8.3%;
  position: relative;
}


.about, .search, .icon {
  display: inline-block;
}


.nav-right h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	font-weight: 400;
  letter-spacing: -0.01em;
	color: #083451;
	display: inline-block;
}

.about, .search {
  margin: 0;
}

.search {
}

.icon {
  height: 18px;
}

.header-title {
  clear: both;
	text-align: center;
}

.header-title h1 {
	font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 10em;
  font-weight: 300;
  /*letter-spacing: -0.01em;*/
  -webkit-transform: scale(1,1.1);
  margin-top: 140px;
  margin-bottom: 0;
  text-shadow: black 1px 1px;
}

.header-title h2 {
	font-family: 'Open Sans', sans-serif;
  	color: #083451;
  	font-size: 1.5em;
  	margin-top: -6px;
    /*letter-spacing: -0.01em;*/
}

/*Header styles end hear
------------------------*/

/*Page content style start here
-------------------------------*/

/*Global-Content
----------------*/
.page-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

section {
  width: 70%;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

aside {
  width: 30%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

/*Specific-content
-------------------*/
article h2 {
  font-family: Oswald, sans-serif;
  color: #083452;
  font-size: 6.2em;
}



