  /*
font-family: 'Oswald', sans-serif; 300, 400 --> header font
font-family: 'Open Sans', sans-serif; 300, 400, 600 --> body font
font-family: 'Ubuntu', sans-serif; 400, 500, -->
*/

/*Global-Header
---------------*/
* {
    box-sizing: border-box;
}

.container {
  font-size: 62.5%;
}

header {
	background-image: url('assets/header.jpg');
  	height: 523px;
  	width: 90.5%;
  	margin-left: auto;
  	margin-right: auto;
}

nav {
	display: inline-block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a{
  text-decoration: none;
}

/*Specific-header
-----------------*/
.nav-left {
	float: left;
}

.logo {
	margin-top: 7px;
  margin-left: 50.7%;
  width: 280px;
}

.logo img {
	vertical-align: middle;

}

.logo h3 {
	font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  color: #083451;
  letter-spacing: -0.6px;
  padding-left: 4%;
  display: inline-block;
  vertical-align: middle;
}

.nav-right {
	float: right;
  display: inline-block;
  margin-top: 7px;
  margin-right: 7.59%;
}

.nav-right li {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	font-weight: 400;
  letter-spacing: -0.01em;
	color: #083451;
	display: inline-block;
  margin-right: 9px;
}

.about {
  /*margin-right: 2%;*/
}

.search-icon {
  height: 18px;
}

.header-title {
  clear: both;
	text-align: center;
}

.header-title h1 {
	font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 10em;
  font-weight: 300;
  /*letter-spacing: -0.01em;*/
  -webkit-transform: scale(1,1.1);
  margin-top: 140px;
  margin-bottom: 0;
  text-shadow: black 1px 1px;
}

.header-title h2 {
	font-family: 'Open Sans', sans-serif;
  	color: #083451;
  	font-size: 1.5em;
  	margin-top: -6px;
    /*letter-spacing: -0.01em;*/
}

/*Header styles end hear
------------------------*/

/*Page content style start here
-------------------------------*/

/*Global-Content
----------------*/
.page-content {
  width: 68%;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

section {
  width: 70%;
  /*background-color: blue;*/
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-bottom: 59px;
}

aside {
  width: 30%;
  /*background-color: green;*/
  margin-left: auto;
  margin-right: auto;
  float: right;
}

/*Left Specific-content
-------------------*/
section h2 {
  /*background-color: blue;*/
  font-family: Oswald, sans-serif;
  color: #083452;
  font-size: 6.2em;
  line-height: 1.165em;
  margin-top: 60px;
  margin-bottom: 2px;
}

.page-block1 {
  position: relative;
}

.auth-footer {
  /*background-color: orange;*/
  width: 100%;
  display: inline-block;
  margin-left: 1%;
  margin-bottom: 12px;
}

.auth-footer h4 {
  vertical-align: middle;
}

.avatar-sm img{
  width: 22px;
  /*background-color: blue;*/
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.auth-name {
  /*background-color: red;*/
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 0;
  margin-left: 1.2%;
  color: #106DB3;
}

.time-stamp {
  /*background-color: green;*/
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 0;
  margin-left: 3.5%;
  color: #BAC6CF;
}

.time-stamp a {
  color: #BAC6CF;
}

.text {
  clear: both;
}

p {
  font-size: 1.63em;
  color: #737C82;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 25px;
  padding-right: 8.7%;
}

blockquote {
  height: 51px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2.9em;
  color: #106DB3;
  letter-spacing: -.01em;
  margin-left: 1%;
  margin-top: 24px;
  padding-top: 6px;
  padding-left: 2.2%;
  border-left: 2px solid #D3D3D3;
}

.launchRow {
  margin-top: -6px;
}

#justify {
  padding-left: 5px;
}

.buttonRow {
  display: inline-block;
  background-color: #A3B3BF;
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

.button {
  display: inline-block;
  text-align: center;
  color: white;
  line-height: 8px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 1.35em;
  margin-top: 11px;
  margin-right: 11px;
  margin-left: 11px;
}

.icon {
  display: inline-block;
  background-color: #5E686F;
  padding: 7px 9px;
  height: 30px;
  width: 33px;
  float: left;
}

.launchRow:hover .icon {
  background-color: #083452;
}

.launchRow:hover .button {
  background-color: #106DB3;
}

/*End left specific content
---------------------------*/
aside {
  margin: 0px;
}

.avatar {
  text-align: center;
  margin-left: 13px;
  margin-top: 83px;
}

aside h4 {
  color: #106DB3;
  text-align: center;
  margin-left: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  font-weight: 300;
  margin-top: 9px;
  margin-bottom: 0;
}

.social {
  margin-top: 0;
  margin-left: 57px;
}

.author li a{
    color: #A3B3BF;
}

.author li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  margin-right: 12px;
}

.ad {
  text-align: center;
  margin-left: 10px;
  margin-top: 51px;
}

.about-ad a {
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  color: #BAC6CF;
  margin-left: 207px;
  line-height: 27px;
}

.sidebar h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  color: #106DB3;
  margin-top: 40px;
  margin-left: 13px;
  margin-bottom: 0;
}

.sidebar-p {
  margin-left: 13px;
  font-size: 1.4em;
  font-weight: 300;
  margin-top: 5px;
  padding-right: 0;
  color: #A3B3BF;
  line-height: 24px;
}

.sidebar-p > a {
  color: #A3B3BF;
  text-decoration: underline;
}

/*Section ends
--------------*/

/*Begin Posts
-------------*/
.post {
  clear: both;
  width: 90.5%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
}

.post h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 6.1em;
  color: #083452;
  margin-top: 25px;
  letter-spacing: .02em;
}

.pic-row {
  color: white;
  margin: 0;
  padding: 0;

}

.box {
  display: inline-block;
  margin: 0;
}

.box .box1 {
  background-image: url('assets/article-image-1.jpg');
  height: 330px;
  width: 325px;
  margin: 0;

}

/*Footer style starts
----------------------*/
footer {
  clear: both;
}























