/*Global-Header
---------------*/
$darkBlue: #083451;
$whiteWhite: white;
$lightBlue: #106DB3;
$lightGray: #BAC6CF;
$darkGray: #737C82;
$buttonGray: #A3B3BF;
$iconGray: #5E686F;
$black: black;


@mixin margin($t-margin, $r-margin, $b-margin, $l-margin) {margin-top: $t-margin; margin-right: $r-margin; margin-bottom: $b-margin; margin-left: $l-margin;}

@mixin thingsFont($family, $serif, $size, $color, $weight) {font-family: $family, $serif; font-size: $size; font-color: $color; font-weight: $weight;}

* {
    box-sizing: border-box;
}

.container {
  font-size: 62.5%;
}

.top-content {
  width: 100%;
  /*height: 523px;*/
}

header {
  background-image: url('assets/header.jpg');
  height: 523px;
  width: 90.3%;
  @include margin(0, auto, 0, auto);
}



ul {
  list-style-type: none;
  padding-left: 0px;
}

a{
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

/*Specific-header
-----------------*/
nav {
  display: inline-block;
  width: 95%;
  @include margin(0, auto, 0, auto);

  .nav-left {
    float: left;
  }

  .logo {
    @include margin(6px, 0, 0, 50.5%);
    width: 280px;

  img {
    vertical-align: middle;
  }
}

  .logo h3 {
    @include thingsFont('Ubuntu', sans-serif, 1.7em, $darkBlue, 400);
    letter-spacing: -0.6px;
    padding-left: 4%;
    display: inline-block;
    vertical-align: middle;
  }

  .nav-right {
    float: right;
    display: inline-block;
    @include margin(7px, 7.59%, 0, 0);

    a {
      color: $darkBlue;
    }

    li {
      @include thingsFont('Oswald', sans-serif, 1.8em, $darkBlue, 400);
      letter-spacing: -0.01em;
      display: inline-block;
      @include margin(0, 7px, 0, 0);
    }

  }

  .about {
    padding-right: 8px;
  }

  .search-icon {
    height: 18px;
  }

}

.header-title {
  clear: both;
  text-align: center;

  h2 {
  @include thingsFont('Ubuntu', sans-serif, 10em, $whiteWhite, 300);
  -webkit-transform: scale(1,1.1);
  @include margin(-369px, 0, 0, 0);
  text-shadow: black 1px 1px;
  }

  h3 {
    @include thingsFont('Open Sans', sans-serif, 1.5em, $darkBlue, 400);
    @include margin(-6px, 0, 240px, 0);
  }

}



/*Header styles end hear
------------------------*/

/*Page content style start here
-------------------------------*/

/*Global-Content
----------------*/
.page-content {
  clear: both;
  width: 68%;
  @include margin(0, auto, 0, auto);
}

section {
  width: 70%;
  // @include marginLR(auto);
  float: left;
  @include margin(0, 0, 59px, 0);
}

aside {
  width: 30%;
  // @include marginLR(auto);
  float: right;
  @include margin(0, 2px, 0, 0);
}

/*Left Specific-content
-------------------*/
section h1 {
  @include thingsFont(Oswald, sans-serif, 6.2em, $darkBlue, 400);
  line-height: 1.165em;
  @include margin(60px, 0, 2px, 2px);
}

.auth-footer {
  width: 100%;
  display: inline-block;
  @include margin(0, 0, 12px, 1%);


  h4 {
  vertical-align: middle;

  a {
  text-decoration: underline;
}
}


}

.avatar-sm img{
  width: 22px;
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.auth-name {
  display: inline-block;
  float: left;
  @include thingsFont('Open Sans', sans-serif, 1.2em, $lightBlue, 300);
  line-height: 0;
  @include margin(0, 0, 0, 1.2%);
}

/*Also styles author link in the aside
--------------------------------------*/
#auth-clear {
  text-decoration: none;
  color: $lightBlue;

  #auth-clear:hover {
    text-decoration: underline;
  }
}


.time-stamp {
  display: inline-block;
  float: left;
  @include thingsFont('Open Sans', sans-serif, 1.2em, $lightGray, 300);
  line-height: 0;
  @include margin(0, 0, 0, 3.5%);


  a {
    color: $lightGray;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

}

.text {
  clear: both;
}

p {
  @include thingsFont('Open Sans', sans-serif, 1.63, $darkGray, 400);
  line-height: 1.6em;
  @include margin(0, 0, 25px, 2px);
  padding-right: 8.7%;


  a {
    color: $lightGray;
  }

}


blockquote {
  height: 51px;
  @include thingsFont('Open Sans', sans-serif, 2.9em, $lightBlue, 400);
  letter-spacing: -.01em;
  @include margin(24px, 0, 0, 1%);
  padding-top: 6px;
  padding-left: 2.2%;
  border-left: 2px solid $lightGray;
}

.launchRow {
  @include margin(16px, 0, 0, 0);
  margin-top: -6px;
}

.justify {
  padding-left: 7px;
}

.buttonRow {
  display: inline-block;
  background-color: $buttonGray;
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 8px;
  @include thingsFont('Open Sans', sans-serif, 1.35em, $whiteWhite, 400);
  text-decoration: none;
  @include margin(11px, auto, 0, auto);
}

.icon {
  display: inline-block;
  background-color: $iconGray;
  padding: 7px 9px;
  height: 30px;
  width: 33px;
  float: left;
}

.buttonRow:hover .icon {
  background-color: $darkBlue;
}

.buttonRow:hover {
  background-color: $lightBlue;
}




/*End left specific content
---------------------------*/
aside {
  margin: 0px;

  h4 {
  text-align: center;
  @include thingsFont('Open Sans', sans-serif, 1.7em, $darkGray, 300);
  @include margin(9px, 0, 0, 17px);

  }
}

.avatar {
  text-align: center;
  @include margin(83px, 0, 0 , 15px);
}

.social {
  @include margin(0, 0, 0, 60px);
}

.author li a{
    color: $buttonGray;
}

.author li {
  display: inline-block;
  @include thingsFont('Open Sans', sans-serif, 1.3em, $buttonGray, 400);
  @include margin(0, 12px, 0, 0);
}

.ad {
  text-align: center;
  @include margin(51px, 0, 0, 12px);
}

.about-ad a {
  text-decoration: underline;
  @include thingsFont('Open Sans', sans-serif, 1.3em, $lightGray, 400);
  @include margin(0, 0, 0, 208px);
  line-height: 27px;
}

.sidebar h3 {
  @include thingsFont('Oswald', sans-serif, 1.8em, $lightBlue, 400);
  @include margin(40px, 0, 0, 16px);
}

.sidebar-p {
  font-size: 1.4em;
  font-weight: 300;
  @include margin(5px, 0, 0, 15px);
  padding-right: 0;
  color: $buttonGray;
  line-height: 24px;

  a {
  color: $buttonGray;
}

}


/*Section ends
--------------*/

/*Begin Posts
-------------*/
.post {
  clear: both;
  width: 90.5%;
  @include margin(0, auto, 0, auto);
  border-top: 1px solid $black;

 h2 {
  text-align: center;
  @include thingsFont('Oswald', sans-serif, 6.1em, $darkBlue, 400);
  @include margin(24px, 0, 0, 0);
  letter-spacing: .02em;
}
}

figure {
  display: inline-block;
  float: left;
  height: 330px;
  width: 25%;
  @include margin(21px, 0, 0, 0);
  position: relative;
}

figcaption {
 @include thingsFont('Oswald', sans-serif, 3em, $darkBlue, 400);
 @include margin(-52px, 0, 0, 17px);
 letter-spacing: -.01em;
}

#long {
  @include margin(-82px, 0, 0, 0);
  line-height: 1.2;
}

figure:after {
  background: $lightBlue;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  content: "";
}

figure:hover:after {
  opacity: 0;
}

figure:hover > figcaption {
  color: white;
  text-shadow: 1px 1px 1px $black;
}


/*Footer style starts
----------------------*/
footer {
  clear: both;
  height: 97px;
  width: 90.5%;
  @include margin(0, auto, 0, auto);
  background-color: $darkBlue;
}

.footer-nav-left {
  float: left;
  width: 30%;
  @include margin(26px, 0, 0, 13);

  img {
  vertical-align: -9px;
}

  h3 {
  display: inline-block;
  @include thingsFont('Oswald', sans-serif, 1.25em, $buttonGray, 300);
  padding-left: 10px;
  letter-spacing: .148em;
  }
}

.footer-nav-right {
  @include margin(28px, 6.8%, 0, 0);
  float: right;
  width: 30%;

  li {
  display: inline-block;
  float: right;
  @include thingsFont('Open Sans', sans-serif, 1.4em, $buttonGray, 300);
  letter-spacing: .01em;
  border-right: 1px solid $buttonGray;
  @include margin(0, 7px, 0, 0);
  padding-right: 7px;
  }

  a:hover li {
  text-decoration: underline;
  }
}

.no-border {
  border-right: 0px;
}


























